<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYA JAPAN - PRENDAS</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="../css/modal.css">
</head>
<body class="catalog-body">

    <header>
        <div class="announce-track">
            <div class="announce-track-inner">
                <div class="announce-group">
                    <span>ENVÍOS A TODO EL MUNDO</span>
                    <span>10% OFF EN TU PRIMERA COMPRA – USA EL CÓDIGO: WYA10</span>
                    <span>PAGO 100% SEGURO</span>
                    <span>NUEVA COLECCIÓN TOKYO STREET</span>
                </div>
                <div class="announce-group" aria-hidden="true">
                    <span>ENVÍOS A TODO EL MUNDO</span>
                    <span>10% OFF EN TU PRIMERA COMPRA – USA EL CÓDIGO: WYA10</span>
                    <span>PAGO 100% SEGURO</span>
                    <span>NUEVA COLECCIÓN TOKYO STREET</span>
                </div>
            </div>
        </div>
        
        <nav class="header-main-nav">
            <a href="/index.html">
                <img src="../images/logo_png.png" alt="Logo WYA Japan" class="logo">
            </a>
            
            <ul class="menu-enlaces">
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="prendas.html">PRENDAS</a></li>
                <li><a href="accesorios.html">ACCESORIOS</a></li>
            </ul>
            
            <div class="iconos-derecha">
                
                <div class="user-menu-container">
                    <img src="../images/icono_usuario.png" alt="Perfil" class="icon_usuario">
                    <div class="user-dropdown">
                        <a href="login.html">✦ INICIA SESIÓN ✦</a>
                        <a href="register.html">✦ REGÍSTRATE ✦</a>
                    </div>
                </div>
                
                <div class="cart-menu-wrapper">
                    <input type="checkbox" id="cart-toggle" class="cart-toggle-input">
                    
                    <label for="cart-toggle" class="cart-container">
                        <img src="../images/icono_carrito.png" alt="Carrito" class="icon_carrito">
                    </label>

                    <div class="cart-sidebar">
                        <label for="cart-toggle" class="cart-sidebar-close">
                            ✕
                        </label>

                        <div class="cart-sidebar-content">
                            <!-- carrito.js -->
                        </div>

                    </div>

                    <!-- <div class="cart-sidebar">
                        <label for="cart-toggle" class="cart-sidebar-close">✕</label>
                        
                        <div class="cart-sidebar-content">
                            <div class="cart-sidebar-icon"><img src="../images/icon-flor.png" alt=""></div>
                            <h3>TU CARRITO ESTÁ VACÍO</h3>
                            <p class="cart-sidebar-msg">
                                Solo puedes agregar cosas o ver tus cosas del carrito si tienes una cuenta.
                                Por favor: <br>
                                <a href="login.html" class="cart-auth-link">INICIA SESIÓN</a> o 
                                <a href="register.html" class="cart-auth-link">REGÍSTRATE</a>.
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>

        </nav>
    </header>

    <main class="catalog-main">

        <aside class="filter-sidebar">
        <h2>FILTROS</h2>

        <div class="filter-group">
            <h3>COLECCIÓN</h3>

            <input type="radio" name="collection-filter" id="filter-all" checked>
            <label for="filter-all" class="filter-label">VER TODO</label>

            <input type="radio" name="collection-filter" id="filter-belts">
            <label for="filter-belts" class="filter-label">CINTURONES</label>

            <input type="radio" name="collection-filter" id="filter-rings">
            <label for="filter-rings" class="filter-label">ANILLOS</label>

            <input type="radio" name="collection-filter" id="filter-pircings">
            <label for="filter-pircings" class="filter-label">PIRCINGS</label>

            <input type="radio" name="collection-filter" id="filter-necklaces">
            <label for="filter-necklaces" class="filter-label">COLLARES</label>

            <input type="radio" name="collection-filter" id="filter-hats">
            <label for="filter-hats" class="filter-label">SOMBREROS</label>

            <input type="radio" name="collection-filter" id="filter-glasses">
            <label for="filter-glasses" class="filter-label">LENTES</label>

        </div>
        </aside>

        <section class="catalog-products-section">

            <div class="catalog-search">
                <img src="../images/icono_buscar.png" alt="Buscar">
                <input 
                    type="text" 
                    id="product-search" 
                    placeholder="BUSCAR PRODUCTO..."
                >
            </div> 

            <p class="product-count" id="product-count">6 PRODUCTOS</p>

            <div class="catalog-grid">
        
                    <div class="catalog-card category-collares">
                        <div class="catalog-img-container">
                            <img src="../images/accesorio1.png" alt="Prenda WYA" class="catalog-img" data-product="SICKE SWORD" data-price="59.000">
                            <button class="catalog-add-btn">AGREGAR AL CARRITO +</button>
                        </div>
                        <div class="catalog-info">
                            <h3>SICKE SWORD</h3>
                            <p class="catalog-price">COP 59.000</p>
                        </div>
                    </div>

                    <div class="catalog-card category-anillos">
                        <div class="catalog-img-container">
                            <img src="../images/accesorio2.png" alt="Prenda WYA" class="catalog-img" data-product="UNDER RING" data-price="35.000">
                            <button class="catalog-add-btn">AGREGAR AL CARRITO +</button>
                        </div>
                        <div class="catalog-info">
                            <h3>UNDER RING</h3>
                            <p class="catalog-price">COP 35.000</p>
                        </div>
                    </div>

                    <div class="catalog-card category-sombreros">
                        <div class="catalog-img-container">
                        <img src="../images/accesorio3.png" alt="Prenda WYA" class="catalog-img" data-product="BERRETA HAT" data-price="105.000">
                        <button class="catalog-add-btn">AGREGAR AL CARRITO +</button>
                    </div>
                    <div class="catalog-info">
                        <h3>BERRETTA HAT</h3>
                        <p class="catalog-price">COP 105.000</p>
                    </div>
                </div>

                <div class="catalog-card category-cinturones">
                    <div class="catalog-img-container">
                        <img src="../images/accesorio4.png" alt="Prenda WYA" class="catalog-img" data-product="V-BELT" data-price="50.000">
                        <button class="catalog-add-btn">AGREGAR AL CARRITO +</button>
                    </div>
                    <div class="catalog-info">
                        <h3>V-BELT</h3>
                        <p class="catalog-price">COP 50.000</p>
                    </div>
                </div>

                <div class="catalog-card category-pircings">
                    <div class="catalog-img-container">
                        <img src="../images/accesorio5.png" alt="Prenda WYA" class="catalog-img" data-product="PIRCINGS FAKES" data-price="39.000">
                        <button class="catalog-add-btn">AGREGAR AL CARRITO +</button>
                    </div>
                    <div class="catalog-info">
                        <h3>PIRCINGS FAKES</h3>
                        <p class="catalog-price">COP 39.000</p>
                    </div>
                </div>

                <div class="catalog-card category-lentes">
                    <div class="catalog-img-container">
                        <img src="../images/accesorio6.png" alt="Prenda WYA" class="catalog-img" data-product="GLASSES TURNER" data-price="45.000">
                        <button class="catalog-add-btn">AGREGAR AL CARRITO +</button>
                    </div>
                    <div class="catalog-info">
                        <h3>GLASSES TURNER</h3>
                        <p class="catalog-price">COP 45.000</p>
                    </div>
                </div>

            </div>

        </section>
    </main>

        <div class="product-modal" id="product-modal">

            <div class="product-modal-content">

                <button class="product-modal-close" id="product-modal-close">
                    ✕
                </button>

                <div class="product-modal-image">
                    <img id="modal-product-image" src="" alt="Producto">
                </div>

                <div class="product-modal-info">

                    <h2 id="modal-product-name">NOMBRE DEL PRODUCTO</h2>

                    <p id="modal-product-price">$0</p>

                    <div class="quantity-section">

                        <h3>CANTIDAD</h3>

                        <input 
                            type="number" 
                            id="product-quantity" 
                            min="1" 
                            value="1"
                            step="1"
                        >

                    </div>

                    <button class="modal-add-btn">
                        AGREGAR AL CARRITO +
                    </button>

                </div>

            </div>

        </div>

    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-column footer-brand">
                <a href="index.html">
                    <img src="../../views/images/logo_png.png" alt="WYA Japan" class="footer-logo">
                </a>
                <p class="footer-desc">Estilo Y2K. Alma japonesa. Cultura streetwear nacida en Tokio, llevada a todo el mundo.</p>
                <div class="footer-socials">
                    <a href="https://www.instagram.com/wya_japan?igsh=djIxbDdocGxoanVl" target="_blank" aria-label="Instagram">
                        <img src="../../views/images/icon_instagram.png" alt="Instagram" class="social-icon"></a>

                    <a href="https://www.tiktok.com/@wyajapan2?_r=1&_t=ZS-97UJ0lrAS8L" aria-label="TikTok">
                        <img src="../../views/images/icon_tiktok.png" alt="TikTok" class="social-icon"></a>
                </div>
            </div>

            <div class="footer-column">
                <h3>COMPRAR</h3>
                <ul>
                    <li><a href="prendas.html">PRENDAS</a></li>
                    <li><a href="accesorios.html">ACCESORIOS</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>SOPORTE</h3>
                <ul>
                    <li><a href="#">ÚNICAMENTE: <br>wya_japan@gmail.com</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 WYA JAPAN. TODOS LOS DERECHOS RESERVADOS.</p>
            <div class="footer-legal">
                <a href="/views/pages/terminos.html">TÉRMINOS DE SERVICIO</a>
                <a href="/views/pages/privacidad.html">POLÍTICA DE PRIVACIDAD</a>
            </div>
        </div>
    </footer>

    <script src="../../controllers/categoryA.js"></script>
    <script src="../../controllers/productoModal.js"></script>
    <script src="../../controllers/carrito.js"></script>
    <script src="../../controllers/auth.js"></script>
    
</body>
</html>